
.autoplay-video {
    outline: none; /* Remove focus outline */
  }
  
  .autoplay-video::-webkit-media-controls {
    display: none !important; /* Hide play button in WebKit browsers (Chrome, Safari) */
  }
  
  .autoplay-video::-webkit-media-controls-start-playback-button {
    display: none !important; /* Hide play button in WebKit browsers (Chrome, Safari) */
  }